<!-- APQC Hierarchy Cascade Template -->
<div class="apqc-hierarchy apqc-hierarchy-cascade">
  <div class="apqc-level apqc-level1">
    <div class="apqc-col-left">
      <div class="apqc-label">LEVEL 1</div>
      <div class="apqc-name">CATEGORY</div>
    </div>
    <div class="apqc-col-right">
      <div class="apqc-desc">Represents the highest level of process in the enterprise in general groupings such as manage customer service, supply chain, finance, and human capital.</div>
    </div>
  </div>
  <div class="apqc-level apqc-level2">
    <div class="apqc-col-left">
      <div class="apqc-label">LEVEL 2</div>
      <div class="apqc-name">PROCESS GROUP</div>
    </div>
    <div class="apqc-col-right">
      <div class="apqc-desc">Groups of processes that are part of executing a category.</div>
    </div>
  </div>
  <div class="apqc-level apqc-level3">
    <div class="apqc-col-left">
      <div class="apqc-label">LEVEL 3</div>
      <div class="apqc-name">PROCESS</div>
    </div>
    <div class="apqc-col-right">
      <div class="apqc-desc">A single process that may include elements related to variants and rework in addition to the core elements needed to accomplish the process.</div>
    </div>
  </div>
  <div class="apqc-level apqc-level4">
    <div class="apqc-col-left">
      <div class="apqc-label">LEVEL 4</div>
      <div class="apqc-name">ACTIVITY</div>
    </div>
    <div class="apqc-col-right">
      <div class="apqc-desc">A key step performed to execute a process.</div>
    </div>
  </div>
</div> 